p {
    color: #800080;
}

h1 {
    color: #6BF7AA;
    background-color: magenta;
}

h2 {
    color: #002147;
    background-color: lightgray;
}

span {
    background-color: blue;
    color: #FFE4E1;
}