html {
    margin: auto;
    padding: 10px;
    background-color: #E4CBC9;
}

a {
    font-size:larger;
    font-weight: bold;
    color:rgb(81, 214, 255);
    background-color: #1B2336;
}

p {
    color: rgb(0, 41, 17); 
    font-size: 22px;
}

h1 {
    color: black;
    font-size: x-large;
    size: 50px;
}

h2 {
    color: #002147;
    background-color: rgb(238, 238, 238);
}

span {
    background-color: rgb(0, 41, 17);
    color: whitesmoke;
    font-size: 17px;
}